[database]
url=postgres://{{ salt['pillar.get']('buddycloud:lookup:env') }}_hosting:{{ salt['pillar.get']('buddycloud:lookup:env') }}_{{ salt['pillar.get']('postgres:users:hosting:password') }}@{{ salt['pillar.get']('buddycloud:lookup:database-server') }}/{{ salt['pillar.get']('buddycloud:lookup:env') }}_hosting

[xmpp]
jid=hosting-admin@{{ salt['pillar.get']('buddycloud:lookup:domain') }}
host={{ salt['pillar.get']('buddycloud:lookup:env') }}.{{ salt['pillar.get']('buddycloud:lookup:domain') }}
port=5222
password=rEXUudV7
vhostman=vhost-man@{{ salt['pillar.get']('buddycloud:lookup:domain') }}
sessman=sess-man@{{ salt['pillar.get']('buddycloud:lookup:domain') }}

[buddycloud]
account=http://127.0.0.1:9123/account

[flask]
secret=v3ry53cr3t
baseurl=http://hosting.{{ salt['pillar.get']('buddycloud:lookup:domain') }}

[dns]
basedomain={{ salt['pillar.get']('buddycloud:lookup:domain') }}
tsigkeyname={{ salt['pillar.get']('buddycloud:lookup:tsigkeyname') }}
tsigkeysecret={{ salt['pillar.get']('buddycloud:lookup:tsigkeysecret') }}
http_arecord=http.{{ salt['pillar.get']('buddycloud:lookup:domain') }}
s2s_arecord=s2s.{{ salt['pillar.get']('buddycloud:lookup:domain') }}
c2s_arecord=c2s.{{ salt['pillar.get']('buddycloud:lookup:domain') }}
bindhost={{ salt['pillar.get']('buddycloud:lookup:ddns-server') }}
channel_server_arecord=cs.{{ salt['pillar.get']('buddycloud:lookup:domain') }}
checker_recipient=simon@{{ salt['pillar.get']('buddycloud:lookup:domain') }}
checker_period=3600
reserved=channels,channelserver,cs,bc,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,billing,accounting,office,world,users,admin,test,testing,buddycloud,drive,calendar,mail,sites,music,video,setup,db,database,www,news,blog,network,git,mail,smtp,webmail

[smtp]
host={{ salt['pillar.get']('buddycloud:lookup:smtp-server') }}
sender=reach-a-developer@{{ salt['pillar.get']('buddycloud:lookup:domain') }}
