# since we don't have the certificate for mydomain.com we push users to
# https://http.buddycloud.net/?h=mydomain.com

# note: should move away from http as a hostname (that's daft).

server {
    listen 80;
    server_name ~^buddycloud\.(?<domain>.+)$;
    rewrite ^ https://http.{{ salt['pillar.get']('buddycloud:lookup:domain') }}?h=$domain permanent;
}

# everything on https
server {
    listen 80;
    server_name *.buddycloud.net;
    rewrite ^ https://$server_name$request_uri? permanent;
}

map $host $forwarded_host {
    ~^buddycloud\.(?<domain>.+)$ $domain;
    default $host;
}

server {
    listen              {{ salt['pillar.get']('buddycloud:lookup:web-listen-port') }} ssl;
    server_name         *.{{ salt['pillar.get']('buddycloud:lookup:domain') }};
    ssl_certificate     /etc/certificates/{{ salt['pillar.get']('buddycloud:lookup:domain') }}.cert.pem;
    ssl_certificate_key /etc/certificates/{{ salt['pillar.get']('buddycloud:lookup:domain') }}.key.pem;
    ssl_protocols       TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    root /usr/share/buddycloud-webclient/;
    index index.html;

    location /api/ {
        proxy_pass http://127.0.0.1:9123/;
        proxy_set_header X-Forwarded-Host $forwarded_host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /primus/1/websocket {
        proxy_pass http://127.0.0.1:6000/primus/1/websocket;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /ws-xmpp {
        proxy_pass http://127.0.0.1:5290/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /primus/ {
        proxy_pass http://127.0.0.1:6000/primus/;
    }

    location /scripts/primus {
        proxy_pass http://127.0.0.1:6000/scripts/primus/;
    }
}
